http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl
transformers
timm
mediapipe
tqdm
scikit-learn
xgboost ## installs CPU version, check docs for GPU compatible version
pandas
django
gunicorn
django-heroku
